{% extends 'base.html.twig' %}

{% block title %}Entradas index{% endblock %}

{% block body %}
    <h1>Entradas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrada in entradas %}
            <tr>
                <td>{{ entrada.id }}</td>
                <td>{{ entrada.fecha ? entrada.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ entrada.cantidad }}</td>
                <td>{{ entrada.precio }}</td>
                <td>
                    <a href="{{ path('entradas_show', {'id': entrada.id}) }}">show</a>
                    <a href="{{ path('entradas_edit', {'id': entrada.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entradas_new') }}">Create new</a>
{% endblock %}
